<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button [routerLink]="['../', 'home']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating" [(ngModel)="user.name"]>Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" [(ngModel)="user.nickname">NickName</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item color='secondary' style='padding-left: 30px; padding-right: 30px; padding-top: 7px;' (click)="">
    <ion-label style='text-align: center;'>Atualizar Perfil</ion-label>
    <ion-icon horizontal="end" name="flash-outline"></ion-icon> 
    <ion-ripple-effect></ion-ripple-effect> 
  </ion-item>
  <ion-item color='tertiary' style='padding-left: 30px; padding-right: 30px; padding-top: 7px;' (click)="">
    <ion-label style='text-align: center;'>Alterar Senha</ion-label>
    <ion-icon horizontal="end" name="flash-outline"></ion-icon> 
    <ion-ripple-effect></ion-ripple-effect> 
  </ion-item>
</ion-content>
